@font-face {font-family: "awesome";src: url("./awesome.ttf") format("truetype");font-weight: normal;font-style: normal;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
[class^="fa-"]:before, [class*=" fa-"]:before,[class^="fa-"]:after, [class*=" fa-"]:after {   font-family: awesome;font-style: normal;}

.fa-add-square-button:before { content: "\e001"; }
.fa-adjust-contrast:before { content: "\e002"; }
.fa-align-justify:before { content: "\e003"; }
.fa-align-to-left:before { content: "\e004"; }
.fa-align-to-right:before { content: "\e005"; }
.fa-ambulance:before { content: "\e006";}
.fa-anchor-shape:before {content: "\e007";}
.fa-android-character-symbol:before { content: "\e008"; }
.fa-angle-arrow-down:before { content: "\e009"; }
.fa-angle-arrow-pointing-to-right:before { content: "\e00a"; }
.fa-angle-pointing-to-left:before { content: "\e00b"; }
.fa-apple-logo:before { content: "\e00c"; }
.fa-archive-black-box:before { content: "\e00d"; }
.fa-arrow-angle-pointing-down:before { content: "\e00e"; }
.fa-arrow-down-on-black-circular-background:before { content: "\e00f"; }
.fa-arrow-pointing-down:before { content: "\e010"; }
.fa-arrow-pointing-right-in-a-circle:before { content: "\e011"; }
.fa-arrow-pointing-to-left:before { content: "\e012"; }
.fa-arrow-pointing-to-right:before { content: "\e013"; }
.fa-arrow-up-on-a-black-circle-background:before { content: "\e014"; }
.fa-arrow-up:before { content: "\e015"; }
.fa-arrowhead-pointing-to-the-right:before { content: "\e016"; }
.fa-arrowhead-pointing-up-inside-a-square-box-outline:before { content: "\e017"; }
.fa-arrowheads-pointing-to-the-left:before { content: "\e018"; }
.fa-asterisk:before { content: "\e019"; }
.fa-ban-circle-symbol:before { content: "\e01a"; }
.fa-bar-graph-on-a-rectangle:before { content: "\e01b"; }
.fa-barcode:before { content: "\e01c"; }
.fa-beaker:before { content: "\e01d"; }
.fa-beer-jar-black-silhouette:before { content: "\e01e"; }
.fa-bell-musical-tool:before { content: "\e01f"; }
.fa-bitbucket-logotype-camera-lens-in-perspective:before { content: "\e020"; }
.fa-bitbucket-sign:before { content: "\e021"; }
.fa-bitcoin-logo:before { content: "\e022"; }
.fa-blank-file:before { content: "\e023"; }
.fa-bold-text-option:before { content: "\e024"; }
.fa-book:before { content: "\e025"; }
.fa-bookmark-black-shape:before { content: "\e026"; }
.fa-bookmark-white:before { content: "\e027"; }
.fa-branch-with-leaves-black-shape:before { content: "\e028"; }
.fa-briefcase:before { content: "\e029"; }
.fa-bug:before { content: "\e02a"; }
.fa-building-front:before { content: "\e02b"; }
.fa-bull-horn-announcer:before { content: "\e02c"; }
.fa-bullseye:before { content: "\e02d"; }
.fa-calendar-page-empty:before { content: "\e02e"; }
.fa-calendar-with-spring-binder-and-date-blocks:before { content: "\e02f"; }
.fa-camera-retro:before { content: "\e030"; }
.fa-caret-arrow-up:before { content: "\e031"; }
.fa-caret-down:before { content: "\e032"; }
.fa-center-text-alignment:before { content: "\e033"; }
.fa-certificate-shape:before { content: "\e034"; }
.fa-check-box-empty:before { content: "\e035"; }
.fa-check-mark:before { content: "\e036"; }
.fa-check-sign-in-a-rounded-black-square:before { content: "\e037"; }
.fa-check:before { content: "\e038"; }
.fa-checked-symbol:before { content: "\e039"; }
.fa-checkered-raised-flag:before { content: "\e03a"; }
.fa-chevron-arrow-down:before { content: "\e03b"; }
.fa-chevron-arrow-up:before { content: "\e03c"; }
.fa-chevron-pointing-to-the-left:before { content: "\e03d"; }
.fa-chevron-sign-down:before { content: "\e03e"; }
.fa-chevron-sign-left:before { content: "\e03f"; }
.fa-chevron-sign-to-right:before { content: "\e040"; }
.fa-chevron-up:before { content: "\e041"; }
.fa-circle-shape-outline:before { content: "\e042"; }
.fa-circle-with-an-arrow-pointing-to-left:before { content: "\e043"; }
.fa-circular-shape-silhouette:before { content: "\e044"; }
.fa-cloud-storage-download:before { content: "\e045"; }
.fa-cloud-storage-uploading-option:before { content: "\e046"; }
.fa-cocktail-glass:before { content: "\e047"; }
.fa-code-fork-symbol:before { content: "\e048"; }
.fa-code:before { content: "\e049"; }
.fa-coffee-cup-on-a-plate-black-silhouettes:before { content: "\e04a"; }
.fa-cog-wheel-silhouette:before { content: "\e04b"; }
.fa-collapse-window-option:before { content: "\e04c"; }
.fa-comment-black-oval-bubble-shape:before { content: "\e04d"; }
.fa-comment-white-oval-bubble:before { content: "\e04e"; }
.fa-comments:before { content: "\e04f"; }
.fa-compass-circular-variant:before { content: "\e050"; }
.fa-computer-tablet:before { content: "\e051"; }
.fa-copy-document:before { content: "\e052"; }
.fa-correct-symbol:before { content: "\e053"; }
.fa-couple-of-arrows-changing-places:before { content: "\e054"; }
.fa-credit-card:before { content: "\e055"; }
.fa-crop-symbol:before { content: "\e056"; }
.fa-cross-mark-on-a-black-circle-background:before { content: "\e057"; }
.fa-css-3-logo:before { content: "\e058"; }
.fa-cursor:before { content: "\e059"; }
.fa-cut:before { content: "\e05a"; }
.fa-dashboard:before { content: "\e05b"; }
.fa-delivery-truck-silhouette:before { content: "\e05c"; }
.fa-desktop-monitor:before { content: "\e05d"; }
.fa-dollar-symbol:before { content: "\e05e"; }
.fa-dot-and-circle:before { content: "\e05f"; }
.fa-double-angle-pointing-to-right:before { content: "\e060"; }
.fa-double-left-chevron:before { content: "\e061"; }
.fa-double-sided-eraser:before { content: "\e062"; }
.fa-double-strikethrough-option:before { content: "\e063"; }
.fa-down-arrow:before { content: "\e064"; }
.fa-download-symbol:before { content: "\e065"; }
.fa-download-to-storage-drive:before { content: "\e066"; }
.fa-dribbble-logo:before { content: "\e067"; }
.fa-dropbox-logo:before { content: "\e068"; }
.fa-earth-globe:before { content: "\e069"; }
.fa-edit-interface-sign:before { content: "\e06a"; }
.fa-eject-symbol:before { content: "\e06b"; }
.fa-envelope-of-white-paper:before { content: "\e06c"; }
.fa-envelope:before { content: "\e06d"; }
.fa-euro-currency-symbol:before { content: "\e06e"; }
.fa-exchange-arrows:before { content: "\e06f"; }
.fa-exclamation-sign:before { content: "\e070"; }
.fa-exclamation:before { content: "\e071"; }
.fa-external-link-square-with-an-arrow-in-right-diagonal:before { content: "\e072"; }
.fa-external-link-symbol:before { content: "\e073"; }
.fa-eye-open:before { content: "\e074"; }
.fa-eye-with-a-diagonal-line-interface-symbol-for-invisibility:before { content: "\e075"; }
.fa-facebook-logo-1:before { content: "\e076"; }
.fa-facebook-logo:before { content: "\e077"; }
.fa-facetime-button:before { content: "\e078"; }
.fa-fast-forward-arrows:before { content: "\e079"; }
.fa-female-silhouette:before { content: "\e07a"; }
.fa-fighter-jet-silhouette:before { content: "\e07b"; }
.fa-file:before { content: "\e07c"; }
.fa-film-strip-with-two-photograms:before { content: "\e07d"; }
.fa-filter-tool-black-shape:before { content: "\e07e"; }
.fa-finger-of-a-hand-pointing-to-right-direction:before { content: "\e07f"; }
.fa-fire-extinguisher:before { content: "\e080"; }
.fa-fire-symbol:before { content: "\e081"; }
.fa-flag-black-shape:before { content: "\e082"; }
.fa-flickr-website-logo-silhouette:before { content: "\e083"; }
.fa-fluffy-cloud-silhouette:before { content: "\e084"; }
.fa-folder-closed-black-shape:before { content: "\e085"; }
.fa-folder-white-shape:before { content: "\e086"; }
.fa-font-selection-editor:before { content: "\e087"; }
.fa-font-symbol-of-letter-a:before { content: "\e088"; }
.fa-fork-and-knife-silhouette:before { content: "\e089"; }
.fa-forward-button:before { content: "\e08a"; }
.fa-four-black-squares:before { content: "\e08b"; }
.fa-foursquare-button:before { content: "\e08c"; }
.fa-frown:before { content: "\e08d"; }
.fa-fullscreen-symbol:before { content: "\e08e"; }
.fa-gamepad-console:before { content: "\e08f"; }
.fa-gift-box:before { content: "\e090"; }
.fa-github-character:before { content: "\e091"; }
.fa-github-logo:before { content: "\e092"; }
.fa-github-sign:before { content: "\e093"; }
.fa-gittip-website-logo:before { content: "\e094"; }
.fa-google-plus-symbol-1:before { content: "\e095"; }
.fa-google-plus-symbol:before { content: "\e096"; }
.fa-great-britain-pound:before { content: "\e097"; }
.fa-group-profile-users:before { content: "\e098"; }
.fa-half-star-shape:before { content: "\e099"; }
.fa-hand-finger-pointing-down:before { content: "\e09a"; }
.fa-hand-pointing-to-left-direction:before { content: "\e09b"; }
.fa-hand-pointing-upward:before { content: "\e09c"; }
.fa-hard-drive:before { content: "\e09d"; }
.fa-heart-shape-outline:before { content: "\e09e"; }
.fa-heart-shape-silhouette:before { content: "\e09f"; }
.fa-home:before { content: "\e0a0"; }
.fa-horizontal-resize-option:before { content: "\e0a1"; }
.fa-hostpital-building:before { content: "\e0a2"; }
.fa-hotel-letter-h-sign-inside-a-black-rounded-square:before { content: "\e0a3"; }
.fa-html-5-logo:before { content: "\e0a4"; }
.fa-inbox:before { content: "\e0a5"; }
.fa-increase-size-option:before { content: "\e0a6"; }
.fa-indent-right:before { content: "\e0a7"; }
.fa-information-button:before { content: "\e0a8"; }
.fa-information-symbol:before { content: "\e0a9"; }
.fa-instagram-symbol:before { content: "\e0aa"; }
.fa-italicize-text:before { content: "\e0ab"; }
.fa-keyboard:before { content: "\e0ac"; }
.fa-left-arrow-1:before { content: "\e0ad"; }
.fa-left-arrow:before { content: "\e0ae"; }
.fa-left-indentation-option:before { content: "\e0af"; }
.fa-legal-hammer:before { content: "\e0b0"; }
.fa-lemon:before { content: "\e0b1"; }
.fa-leter-a-inside-a-black-circle:before { content: "\e0b2"; }
.fa-letter-p-symbol:before { content: "\e0b3"; }
.fa-level-up:before { content: "\e0b4"; }
.fa-light-bulb:before { content: "\e0b5"; }
.fa-lightning-bolt-shadow:before { content: "\e0b6"; }
.fa-link-symbol:before { content: "\e0b7"; }
.fa-linkedin-letters:before { content: "\e0b8"; }
.fa-linkedin-sign:before { content: "\e0b9"; }
.fa-linux-logo:before { content: "\e0ba"; }
.fa-list-on-window:before { content: "\e0bb"; }
.fa-list-with-dots:before { content: "\e0bc"; }
.fa-list:before { content: "\e0bd"; }
.fa-listing-option:before { content: "\e0be"; }
.fa-long-arrow-pointing-to-left:before { content: "\e0bf"; }
.fa-long-arrow-pointing-to-the-right:before { content: "\e0c0"; }
.fa-long-arrow-pointing-up:before { content: "\e0c1"; }
.fa-magic-wand:before { content: "\e0c2"; }
.fa-magnifying-glass:before { content: "\e0c3"; }
.fa-man:before { content: "\e0c4"; }
.fa-map-marker:before { content: "\e0c5"; }
.fa-maxcdn-website-logo:before { content: "\e0c6"; }
.fa-medical-kit:before { content: "\e0c7"; }
.fa-meh-face-emoticon:before { content: "\e0c8"; }
.fa-microphone-black-shape:before { content: "\e0c9"; }
.fa-microphone-off:before { content: "\e0ca"; }
.fa-minus-button:before { content: "\e0cb"; }
.fa-minus-sign-inside-a-black-circle:before { content: "\e0cc"; }
.fa-minus-sign-inside-a-black-rounded-square-shape:before { content: "\e0cd"; }
.fa-minus-sign-on-a-square-outline:before { content: "\e0ce"; }
.fa-minus-symbol:before { content: "\e0cf"; }
.fa-mobile-phone:before { content: "\e0d0"; }
.fa-moon-phase-outline:before { content: "\e0d1"; }
.fa-move-option:before { content: "\e0d2"; }
.fa-music-headphones:before { content: "\e0d3"; }
.fa-music-note-black-symbol:before { content: "\e0d4"; }
.fa-musical-bell-outline:before { content: "\e0d5"; }
.fa-nine-black-tiles:before { content: "\e0d6"; }
.fa-numbered-list:before { content: "\e0d7"; }
.fa-open-folder-outline:before { content: "\e0d8"; }
.fa-open-folder:before { content: "\e0d9"; }
.fa-open-laptop-computer:before { content: "\e0da"; }
.fa-open-padlock-silhouette:before { content: "\e0db"; }
.fa-open-wrench-tool-silhouette:before { content: "\e0dc"; }
.fa-padlock-unlock:before { content: "\e0dd"; }
.fa-padlock:before { content: "\e0de"; }
.fa-paper-bill:before { content: "\e0df"; }
.fa-paper-clip-outline:before { content: "\e0e0"; }
.fa-paper-push-pin:before { content: "\e0e1"; }
.fa-paste-from-clipboard:before { content: "\e0e2"; }
.fa-pause-symbol:before { content: "\e0e3"; }
.fa-pencil:before { content: "\e0e4"; }
.fa-photo-camera:before { content: "\e0e5"; }
.fa-picture:before { content: "\e0e6"; }
.fa-pinterest-logo:before { content: "\e0e7"; }
.fa-pinterest-sign:before { content: "\e0e8"; }
.fa-plane:before { content: "\e0e9"; }
.fa-plant-leaf-with-white-details:before { content: "\e0ea"; }
.fa-play-button:before { content: "\e0eb"; }
.fa-play-circle:before { content: "\e0ec"; }
.fa-play-sign:before { content: "\e0ed"; }
.fa-play-video-button:before { content: "\e0ee"; }
.fa-plus-black-symbol:before { content: "\e0ef"; }
.fa-plus-sign-in-a-black-circle:before { content: "\e0f0"; }
.fa-plus-symbol-in-a-rounded-black-square:before { content: "\e0f1"; }
.fa-power-button-off:before { content: "\e0f2"; }
.fa-printing-tool:before { content: "\e0f3"; }
.fa-puzzle-piece-silhouette:before { content: "\e0f4"; }
.fa-qr-code:before { content: "\e0f5"; }
.fa-question-mark-on-a-circular-black-background:before { content: "\e0f6"; }
.fa-question-sign:before { content: "\e0f7"; }
.fa-quote-left:before { content: "\e0f8"; }
.fa-reduced-volume:before { content: "\e0f9"; }
.fa-refresh-arrow:before { content: "\e0fa"; }
.fa-refresh-page-option:before { content: "\e0fb"; }
.fa-remove-button:before { content: "\e0fc"; }
.fa-remove-symbol:before { content: "\e0fd"; }
.fa-renren-social-network-of-china-logotype:before { content: "\e0fe"; }
.fa-reorder-option:before { content: "\e0ff"; }
.fa-reply-arrow:before { content: "\e100"; }
.fa-reply:before { content: "\e101"; }
.fa-resize-option:before { content: "\e102"; }
.fa-retweet-arrows-symbol:before { content: "\e103"; }
.fa-rewind-button:before { content: "\e104"; }
.fa-right-arrow-in-a-circle:before { content: "\e105"; }
.fa-right-chevron:before { content: "\e106"; }
.fa-right-quotation-mark:before { content: "\e107"; }
.fa-road-perspective:before { content: "\e108"; }
.fa-rounded-black-square-shape:before { content: "\e109"; }
.fa-rss-feed-button:before { content: "\e10a"; }
.fa-rss-symbol:before { content: "\e10b"; }
.fa-rupee-indian:before { content: "\e10c"; }
.fa-save-file-option:before { content: "\e10d"; }
.fa-screenshot:before { content: "\e10e"; }
.fa-settings:before { content: "\e10f"; }
.fa-share-option:before { content: "\e110"; }
.fa-share-post-symbol:before { content: "\e111"; }
.fa-share-symbol:before { content: "\e112"; }
.fa-shield:before { content: "\e113"; }
.fa-shopping-cart-black-shape:before { content: "\e114"; }
.fa-sign-in:before { content: "\e115"; }
.fa-sign-out-option:before { content: "\e116"; }
.fa-signal-bars:before { content: "\e117"; }
.fa-sitemap:before { content: "\e118"; }
.fa-skype-logo:before { content: "\e119"; }
.fa-small-rocket-ship-silhouette:before { content: "\e11a"; }
.fa-smile:before { content: "\e11b"; }
.fa-sort-arrows-couple-pointing-up-and-down:before { content: "\e11c"; }
.fa-sort-by-alphabet:before { content: "\e11d"; }
.fa-sort-by-attributes-interface-button-option:before { content: "\e11e"; }
.fa-sort-by-attributes:before { content: "\e11f"; }
.fa-sort-by-numeric-order:before { content: "\e120"; }
.fa-sort-by-order:before { content: "\e121"; }
.fa-sort-down:before { content: "\e122"; }
.fa-sort-reverse-alphabetical-order:before { content: "\e123"; }
.fa-sort-up:before { content: "\e124"; }
.fa-speech-bubbles-comment-option:before { content: "\e125"; }
.fa-spinner-of-dots:before { content: "\e126"; }
.fa-square-shape-shadow:before { content: "\e127"; }
.fa-stack-exchange-logo:before { content: "\e128"; }
.fa-stack-exchange-symbol:before { content: "\e129"; }
.fa-star-1:before { content: "\e12a"; }
.fa-star-half-empty:before { content: "\e12b"; }
.fa-star:before { content: "\e12c"; }
.fa-step-backward:before { content: "\e12d"; }
.fa-step-forward:before { content: "\e12e"; }
.fa-stethoscope:before { content: "\e12f"; }
.fa-strikethrough:before { content: "\e130"; }
.fa-suitcase-with-white-details:before { content: "\e131"; }
.fa-sun:before { content: "\e132"; }
.fa-superscript-text-formatting:before { content: "\e133"; }
.fa-table-grid:before { content: "\e134"; }
.fa-tag-black-shape:before { content: "\e135"; }
.fa-tags:before { content: "\e136"; }
.fa-tasks-list:before { content: "\e137"; }
.fa-telephone-handle-silhouette:before { content: "\e138"; }
.fa-telephone-symbol-button:before { content: "\e139"; }
.fa-terminal:before { content: "\e13a"; }
.fa-text-file-1:before { content: "\e13b"; }
.fa-text-file:before { content: "\e13c"; }
.fa-text-height-adjustment:before { content: "\e13d"; }
.fa-text-width:before { content: "\e13e"; }
.fa-thin-arrowheads-pointing-down:before { content: "\e13f"; }
.fa-three-small-square-shapes:before { content: "\e140"; }
.fa-thumb-down:before { content: "\e141"; }
.fa-thumbs-down-silhouette:before { content: "\e142"; }
.fa-thumbs-up-hand-symbol:before { content: "\e143"; }
.fa-thumbs-up:before { content: "\e144"; }
.fa-ticket:before { content: "\e145"; }
.fa-time:before { content: "\e146"; }
.fa-tint-drop:before { content: "\e147"; }
.fa-trash:before { content: "\e148"; }
.fa-trello-website-logo:before { content: "\e149"; }
.fa-trophy:before { content: "\e14a"; }
.fa-tumblr-logo-1:before { content: "\e14b"; }
.fa-tumblr-logo:before { content: "\e14c"; }
.fa-turkish-lire-symbol:before { content: "\e14d"; }
.fa-twitter-black-shape:before { content: "\e14e"; }
.fa-twitter-sign:before { content: "\e14f"; }
.fa-two-columns-layout:before { content: "\e150"; }
.fa-u-shaped-thick-magnet:before { content: "\e151"; }
.fa-umbrella-black-silhouette:before { content: "\e152"; }
.fa-underline-text-option:before { content: "\e153"; }
.fa-undo-arrow:before { content: "\e154"; }
.fa-unlink-symbol:before { content: "\e155"; }
.fa-up-arrow:before { content: "\e156"; }
.fa-up-chevron-button:before { content: "\e157"; }
.fa-upload-button:before { content: "\e158"; }
.fa-upload:before { content: "\e159"; }
.fa-user-md-symbol:before { content: "\e15a"; }
.fa-user-shape:before { content: "\e15b"; }
.fa-vertical-ellipsis:before { content: "\e15c"; }
.fa-vertical-resizing-option:before { content: "\e15d"; }
.fa-video-play-square-button:before { content: "\e15e"; }
.fa-vimeo-square-logo:before { content: "\e15f"; }
.fa-vintage-key-outline:before { content: "\e160"; }
.fa-vk-social-network-logo:before { content: "\e161"; }
.fa-volume-off:before { content: "\e162"; }
.fa-volume-up-interface-symbol:before { content: "\e163"; }
.fa-warning-sign-on-a-triangular-background:before { content: "\e164"; }
.fa-weibo-website-logo:before { content: "\e165"; }
.fa-wheelchair:before { content: "\e166"; }
.fa-white-flag-symbol:before { content: "\e167"; }
.fa-windows-logo-silhouette:before { content: "\e168"; }
.fa-x2-symbol-of-a-letter-and-a-number-subscript:before { content: "\e169"; }
.fa-xing-logo:before { content: "\e16a"; }
.fa-xing-logotype:before { content: "\e16b"; }
.fa-yen-symbol:before { content: "\e16c"; }
.fa-youtube-logo-1:before { content: "\e16d"; }
.fa-youtube-logo-2:before { content: "\e16e"; }
.fa-youtube-logo:before { content: "\e16f"; }
.fa-zoom-in:before { content: "\e170"; }
.fa-zoom-out:before { content: "\e171";  }
